<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zydsj.shiro.demoshiro.mapper.RoleMapper">

	<resultMap id="BaseResultMap" type="com.zydsj.shiro.demoshiro.po.Role">
		<id column="id" property="id" />
		<result property="roleName" column="roleName" />

	</resultMap>

	<sql id="BaseColumnList">
	    <![CDATA[
			id,
			roleName
	    ]]>
	</sql>

	<sql id="listWhere">
		<if test="id != null ">
			and id = #{id}
		</if>
		<if test="roleName != null and roleName != ''">
			and userName = #{userName}
		</if>

	</sql>




	<select id="select" resultMap="BaseResultMap">
		select
		<include refid="BaseColumnList"></include>
		from
		user
		<where>
			<include refid="listWhere" />
		</where>
	</select>










</mapper>

